.toolbar {
    width: 300px;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    border: 1px solid #111;
    position: relative
}

.draggable {
    border: 1px solid #111;
    cursor: grab;

}

.draggable:active {
    cursor: grabbing;
}

.whiteboard {
    border: 1px solid #111;
    width: 300px;
    height: 180px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 2px;
    background-color: white;
    position: relative;
}

.buttonclr {
    width: 100px;
    height: 30px;
    border: 1px solid #111;
    border-radius: 10px;
    cursor: pointer;
    text-align: center
}

.buttonsubmit {
    width: 100px;
    height: 30px;
    border: 1px solid #111;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    background-color: green;
    color: white;
    margin-top: 10px;
}